@use "@/vars.scss" as *;

.search-container {
  align-self: flex-end;
  position: relative;

  .button-container {
    position: absolute;
    right: 18px;
    top: 12px;
    display: flex;
    align-items: center;

    button {
      @extend %reset-button;

      cursor: pointer;
    }

    .result-count {
      margin-right: 4px;
    }
  }

  .search-input {
    max-width: calc(100vw - 8px * 2);
    width: 500px;
    height: 60px;
    border-radius: 35px;
    padding-left: 22px;
    padding-right: 172px;
    font-size: 1em;
  }

  &.clear-input-container button.clear-input {
    // right: 17px;
  }

  .search-button {
    color: black;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
