@use "@/vars.scss" as *;

.apps-container {
  margin-bottom: 16px;
}

.apps-cat-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 8px 0 16px;
  padding: 0;
  // column-gap: 10px;
  .apps-cat {
    flex-grow: 1;
    flex-basis: 20%;
    display: block;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 2px solid $grey4;
    transition: all 0.1s;
    &.active {
      // border-color: $active;
      border-color: black;
      background-color: $active2;
    }
    button {
      padding: 2px 6px;
      width: 100%;
      height: 100%;
      &[disabled] {
        pointer-events: none;
        opacity: 0.4;
      }
    }
  }
}

.apps-filters {
  margin: 0 32px;
  display: flex;
  gap: 32px;
  justify-content: center;
}

.apps-list {
  list-style: none;
  // margin-left: 20px;
  padding-left: 16px;
}
.apps-list-item {
  width: fit-content;
  margin: 2px;
}
.apps-list-item-text {
  border-radius: 4px;
  padding: 0 4px;
  border: 1px solid $active;
  text-transform: lowercase;
  font-size: 12px;
  &.Co {
    background-color: #abe493;
    border-color: #5e9a3a;
  }
  &.Mo {
    background-color: #93a3e4;
    border-color: #3e4f9a;
  }
  &.Imo {
    background-color: #ccd4f5;
    border-color: #6e7db3;
  }
  &.Flash {
    background-color: #e7d0ad;
    border-color: #b08a50;
  }
  &.st {
    background-color: #dbdb7c;
    border-color: #9a9a3a;
  }
  &.stm {
    background-color: #ffffc3;
    border-color: #c2c27a;
  }
}
