@use "@/vars.scss" as *;

.actions {
  background: $background3;
  display: flex;
  flex-direction: column;
  width: fit-content;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  margin-bottom: 8px;

  @media (max-width: $width-md) {
    margin: 4px auto 12px;
  }
}

.list-btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.sign-in-btn {
  margin-bottom: 8px;
  width: fit-content;
}

.watched,
.watchlist {
  color: $active9;
}

.toast-icon-add {
  color: $active9;
}

.toast-icon-remove {
  color: $error1;
}

.list-dropdown-content {
  @extend %popover;
}

.checkbox-text {
  word-break: break-word;
}
