@use "@/vars.scss" as *;

.appearances-icons {
  margin-top: 6px;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.appearances-icon {
  @extend %reset-button;
  color: $grey0;
  width: 20px;
  height: 20px;
  box-sizing: content-box;
  // padding: 2px;
  border-radius: 4px;
  border: 1px solid $grey2;
  .icon {
    display: block;
  }
  &:hover {
    box-shadow: $hover-shadow;
  }
  &.active {
    background-color: $active7;
  }
}
