@use "@/vars.scss" as *;

.type-indicator2 {
  font-size: 0.9em;
  width: fit-content;
  padding-right: 0;
  padding-left: 6px;
  margin: 4px 0;
  display: flex;
  border-radius: 32px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: $active7;
  .text {
    margin-top: 2px;
    .wookiee-link {
      // vertical-align: middle;
      // margin-top: 4px;
      position: relative;
      top: 1px;
    }
    &:not(:first-child) {
      border-left: 1px solid $active4;
      padding-left: 6px;
    }
  }
}

.remove-box-filter {
  @extend %reset-button;
  background: $active4;
  color: $active7;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  padding-right: 2px;
  margin-left: 4px;
  border: 2px solid;
  // border-left: none;
  &.multimedia-reversed {
    border: none;
    padding-right: 4px;
  }
  &:hover .icon {
    transform: rotateZ(90deg);
  }
  .icon {
    transition: transform 0.12s;
    vertical-align: text-bottom;
    width: 22px;
  }
}

.box-filter-category-icon {
  padding-right: 4px;
  align-self: center;
  flex-shrink: 0;
  color: $active4;
}

.include-all-checkbox {
  margin-bottom: 8px;
}
