@use "@/vars.scss" as *;

.text {
  &:not(:first-child) {
    border-left: 1px solid $active4;
    padding-left: 6px;
  }
}

.category-icon {
  padding-right: 4px;
  align-self: center;
  flex-shrink: 0;
  color: $active4;
}

.include-all-checkbox {
  margin-bottom: 8px;
}
