@use "@/vars.scss" as *;

.filters-section {
  .filters-section-title {
    display: flex;
    align-items: center;
  }

  .title {
    font-size: 1em;
  }

  .expand-button {
    cursor: pointer;
    vertical-align: top;
    transition: background-color 0.1s;
    border-radius: 4px;
    margin-left: auto; //4px;
    width: 24px;
    height: 24px;

    &:hover {
      box-shadow: 0 0 2px black;
    }
  }

  .contents {
    &.gaps {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }

    margin-top: 4px;
  }

  hr {
    margin: 6px 0 10px;
  }
}
