@use "@/vars.scss" as *;

.label {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

.trigger {
  @extend %icon-text-container;
}

.filter-bullet {
  width: 100%;
}

.filter-bullet-content {
  width: 100%;
}

.list-entry {
  padding-top: 2px;
  padding-bottom: 2px;
  word-break: break-word;

  // width: 100%;
}

.list-entry-name {
  border-bottom: 1px solid $grey0;
  padding-bottom: 2px;
  margin-bottom: 6px;
}

.list-entry-controls {
  display: flex;
  gap: 0.5rem;
}
