@use "@/vars.scss" as *;

.sorting-mobile {
  display: none;

  @media (max-width: $width-lg) {
    display: initial;
  }
}

.filters-section {
  .sorting-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }

  .sorting-btn {
    border: 2px solid $grey2;
    display: flex;
    gap: 4px;
    width: fit-content;
    padding: 1px 3px;
    cursor: pointer;
    color: black;
    transition: background-color 0.2s;

    &.active {
      background-color: $active1;
      border-color: $active3;
      color: $active3;
    }
  }
}
