@use "@/vars.scss" as *;

.sorting-mobile {
  display: none;

  @media (max-width: $width-lg) {
    display: initial;
  }
}

.sort-by-text {
  font-weight: $weight-bold;
}

.sorting-btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
}

.sorting-btn {
  border: 2px solid $grey2;
  display: flex;
  gap: 2px;
  width: fit-content;
  padding: 1px 3px;
  cursor: pointer;
  color: black;
  transition: background-color 0.2s;

  &.active {
    background-color: $active1;
    border-color: $active3;
    color: $active3;
  }
}

.icon {
  color: $active3;
}
