@use "@/vars.scss" as *;

.filters-section {
  .check-buttons {
    button {
      font-size: 0.75em;
      padding: 1px 5px;
      margin-right: 8px;
      color: black;
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 2px black;
      }
      &:active {
        border-style: inset;
      }
      &:focus {
        border-color: $focus;
      }
    }
  }

  .checkbox-filters {
    margin-top: 10px 0;
    line-height: 1.25;
    .checkbox {
      margin-top: 3px;
      margin-bottom: 3px;
    }
  }
}
