@use "@/vars.scss" as *;

.actions {
  display: flex;
  gap: 0.5rem;
  flex-shrink: 0;

  >* {
    align-self: center;
  }
}

.delete-dialog-description {
  word-break: break-word;
}

.item-count {
  @media (max-width: $width-md) {
    order: -1;
    margin-right: auto;
  }
}
