@use "@/vars.scss" as *;

.list-container {
  margin: 1rem 0;
}

.list {
  border: 1px solid $grey4;
  width: 100%;
  margin-top: -1px;
  padding: 4px 10px;
}

.list-inner {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.editing-input-group {
  flex-grow: 1;
  display: flex;
  gap: 1rem;
}

.list-name {
  @extend %nav-link-inv;
}
