@use "@/vars.scss" as *;

.list-container {
  // display: flex;
  // flex-direction: column;
  margin: 1rem 0;
}

.list {
  border: 1px solid $grey0;
  width: 100%;
  margin-top: -1px;
  padding: 4px 10px;

  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.list-name {
  word-break: break-word;
}

.actions {
  display: flex;
  gap: 0.5rem;
  flex-shrink: 0;

  >* {
    align-self: center;
  }
}

.delete-btn {
  // transition: background-color 0s;
  //
  // &:hover {
  //   background-color: $error1;
  // }
}
