@use "@/vars.scss" as *;

.header {
  margin: 1rem 0;
}

.list-items-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.list-item {
  display: flex;
  gap: 1rem;

  @media (max-width: $width-md) {
    gap: 0.5rem;
  }
}

.list-item-title {
  width: fit-content;
  padding: 1px 5px;
  border-radius: 3px;
  border: 1px solid black;
}

.list-icon {
  margin-bottom: 2px;
}

.remove-text {
  @media (max-width: $width-md) {
    display: none;
  }
}

.missing-items {
  margin-bottom: 1rem;
  padding-bottom: 1rem;

  // border-bottom: 1px solid black;
}

.missing-heading {
  border-top: 1px solid black;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  padding-top: 0.5rem;
}
