@use "@/vars.scss" as *;

.showcase {
  // margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;

  .showcase-title {
    text-align: center;
  }

  .more {
    text-align: center;

    .more-btn {
      @extend %cta-button;
      box-shadow: 0 0 6px $active4;
      margin-top: 16px;
      display: inline-block;
    }
  }
}

.showcase-feature {
  display: flex;
  gap: 32px;

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;

    p {
      margin: 0;
    }
  }

  .image-first {
    display: block;
    margin: 12px auto;
    box-shadow: 0 0 5px black;
  }

  .arrow {
    margin-left: auto;
  }

  .arrow-vertical {
    display: none;
  }

  $gradient-bg: $background, rgba($background, 0.7) 30%, rgba($background, 0);

  .image {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 90px;
      background: linear-gradient(to right, $gradient-bg);
    }
  }

  &:nth-child(odd) {
    .text {
      order: 2;
    }

    .image {
      order: 1;

      &:before {
        right: 0;
        background: linear-gradient(to left, $gradient-bg);
      }
    }

    .arrow {
      margin-right: auto;
      margin-left: 0;
      transform: rotate3d(0, 1, 0, 180deg);
    }
  }

  @media (max-width: $width-xl) {
    flex-direction: column;

    .text {
      text-align: center;
    }

    &:nth-child(odd) {
      .text {
        order: 0;
      }

      .image {
        order: 0;
      }
    }

    .image {
      text-align: center;

      img {
        box-shadow: 0 0 5px black;
      }
    }

    .image:before {
      content: normal;
    }

    .arrow {
      display: none;
    }

    .arrow-vertical {
      display: initial;
    }
  }

  @media (max-width: $width-lg) {
    .arrow-vertical {
      height: 80px;
    }

    img {
      max-width: 100%;
    }
  }
}
