@use "@/vars.scss" as *;

:export {
  compact-threshold: $width-md;
}

.row {
  display: flex;

  @media (max-width: $width-md) {
    display: grid;
    grid-template-areas:
      "cover title"
      "cover other";
    grid-template-columns: auto 1fr;
  }
}

.compact-cover {
  grid-area: cover;
}

.compact-title {
  grid-area: title;
  display: flex;
}

.compact-other {
  grid-area: other;
  display: flex;

  > * {
    flex-grow: 1;
    flex-basis: 50%;
    box-sizing: border-box;
    min-height: 26px !important;
  }
}

.td {
  @extend %cell;

  display: flex;
  align-items: center;
  font-size: 0.8em;

  ul {
    list-style: "・";
    padding-left: 13px;
    margin: 0;
  }

  @media (max-width: $width-md) {
    min-width: auto;
    width: auto;
    min-height: 18px;
    word-break: break-word;
  }
}

.td.cover {
  img {
    max-width: 100%;
    display: block;
  }

  @media (max-width: $width-md) {
    min-width: 55px;

    // -1px due to negative margin. This fixes double border on covers not filling height.
    height: calc(100% - 1px);
  }
}

.td.title {
  font-weight: $weight-bolder;
  font-size: 1em;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 2px black;
    z-index: 4;
  }

  button {
    @extend %reset-button;

    pointer-events: none;
    text-align: left;
  }

  .tv-image {
    margin-right: 8px;
    position: relative;
    top: 2px;
    border-radius: 2px;
    float: left;
    font-size: 0.8em;

    &[title="Obi-Wan Kenobi (television series)"] {
      // Remedy for poor visibility
      background: #0f0f0f;
    }

    &.text-fallback {
      border: 1px solid black;
      padding: 0 4px;
      border-radius: 4px;
    }
  }

  .icon.audiobook-icon {
    font-size: 1.2em;
    vertical-align: bottom;
    margin: 0 4px;
  }
}

.not-unique {
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 6px;
}
