@use "@/vars.scss" as *;

.content {
  flex: 1 0 auto;
  width: $main-width;
  margin: 16px auto;
  @media (max-width: $width-xl) {
    width: 100%;
  }
}

.timeline-container {
  display: flex;
  gap: 10px;
  margin: 0 12px;
  @media (max-width: $width-md) {
    margin: 0 6px;
  }
  @media (max-width: $width-lg) {
    .filters-container {
      height: 100%;
    }
  }
}

.table {
  border-collapse: collapse;
  flex-grow: 1;
  @media (max-width: $width-lg) {
    margin-left: 0;
  }
}

.td,
.th {
  $padding: 2px;
  padding: $padding $padding + 5px;

  border: 1px solid #111;
  margin: -1px 0 0 -1px;

  &.not-sortable {
    pointer-events: none;
  }

  flex-shrink: 0;
  &.date {
    width: 80px;
  }
  &.cover {
    width: 55px;
    padding: 0;
  }
  &.title {
    flex-grow: 1;
    flex-shrink: 1;
  }
  &.writer {
    width: 140px;
  }
  &.releaseDate {
    width: 84px;
  }
}

.tr-outer:last-child .td.continuity {
  border-bottom: 1px solid black;
}
.td.cover:not(.no-cover) {
  background-color: black;
}

.filter-indicator {
  font-size: 14px;
  font-weight: normal;
  // border-bottom: 1px solid #0000002f;
  padding-bottom: 1px;
  :not(.apps-list-item-text) {
    opacity: 0.9;
  }

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.thead {
  position: sticky;
  top: 0;
  z-index: 5;
  display: flex;
  text-align: center;
  @media (max-width: $width-md) {
    display: none;
  }
}
.th {
  background-color: #444;
  color: white;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 2px black;
    z-index: 4;
  }
  user-select: none;
  .th-inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .icon {
    padding-left: 4px;
    vertical-align: sub;
    color: $accent;
  }
}

.standard-row-inner {
  display: flex;
  @media (max-width: $width-md) {
    flex-wrap: wrap;
    &.compact {
      flex-wrap: nowrap;
      .td.cover {
        order: -3;
      }
    }
  }
  .td {
    .td-inner {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    font-size: 0.8em;
    ul {
      list-style: "・";
      padding-left: 13px;
      margin: 0;
    }
    @media (max-width: $width-md) {
      min-width: auto;
      width: auto;
      min-height: 18px;
      word-break: break-word;
    }
  }
  .td.releaseDate {
    @media (max-width: $width-md) {
      flex-basis: 84px;
      flex-grow: 1;
    }
  }
  .td.date {
    @media (max-width: $width-md) {
      // Huge numbers because we want releaseDate to grow, but only when it's the only item in the row.
      flex-grow: 200;
      flex-basis: 0;
    }
  }
  .td.writer {
    @media (max-width: $width-md) {
      flex-grow: 400;
      flex-basis: 0;
    }
    @media (max-width: $width-sm) {
      flex-grow: 300;
    }
  }
  .td.cover {
    @media (max-width: $width-md) {
      flex-grow: 0;
      order: -1;
      &.no-cover {
        display: none;
      }
    }
  }
  .td.title {
    font-weight: $weight-bolder;
    font-size: 1em;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 2px black;
      z-index: 4;
    }
    button {
      @extend %reset-button;
      pointer-events: none;
      text-align: left;
    }
    .tv-image {
      margin-right: 8px;
      position: relative;
      top: 2px;
      border-radius: 2px;
      float: left;
      font-size: 0.8em;
      &[title="Obi-Wan Kenobi (television series)"] {
        // Remedy for poor visibility
        background: #0f0f0f;
      }
      &.text-fallback {
        border: 1px solid black;
        padding: 0 4px;
        border-radius: 4px;
      }
    }
    .season-episode {
      margin-right: 8px;
      position: relative;
      top: -2px;
      border: 1px solid black;
      border-radius: 4px;
      padding: 0 4px;
      background-color: $tv-tertiary;
      color: white;
      font-size: 0.75em;
      white-space: nowrap;
      overflow: hidden;
    }
    .icon.audiobook-icon {
      font-size: 1.2em;
      vertical-align: bottom;
      margin: 0 4px;
    }
    @media (max-width: $width-md) {
      width: 100%;
      order: -2;
    }
  }

  .td.cover {
    img {
      max-width: 100%;
      display: block;
    }
  }
}

.not-unique {
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 6px;
}

.wookiee-link {
  user-select: none;
  img {
    margin-left: 0.3em;
    width: 1em;
    position: relative;
    top: 0.15em;
    transition: transform 0.1s;
  }
  &:hover img {
    transform: scale(1.5);
  }
}

.circle-buttons {
  z-index: 5;
  position: fixed;
  bottom: 8px;
  right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
