@use "@/vars.scss" as *;

.timeline-container {
  display: flex;
  gap: 10px;
  margin: 0 12px;

  @media (max-width: $width-md) {
    margin: 0 6px;
  }

  @media (max-width: $width-lg) {
    .filters-container {
      height: 100%;
    }
  }
}

.table {
  border-collapse: collapse;
  flex-grow: 1;

  @media (max-width: $width-lg) {
    margin-left: 0;
  }
}

.th {
  @extend %cell;

  &.not-sortable {
    cursor: default;

    &:hover {
      box-shadow: none;
    }
  }
}

.tr-outer:last-child .td.continuity {
  border-bottom: 1px solid black;
}

.td.cover:not(.no-cover) {
  background-color: black;
}

.filter-indicator {
  font-size: 14px;
  font-weight: normal;
  // border-bottom: 1px solid #0000002f;
  padding-bottom: 1px;

  :not(.apps-list-item-text) {
    opacity: 0.9;
  }

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.matched-text {
  font-weight: $weight-bold;
}

.thead {
  position: sticky;
  top: 0;
  z-index: 5;
  display: flex;
  text-align: center;

  @media (max-width: $width-md) {
    display: none;
  }
}

.th {
  background-color: #444;
  color: white;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 2px black;
    z-index: 4;
  }

  user-select: none;

  .th-inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.circle-buttons {
  z-index: 5;
  position: fixed;
  bottom: 8px;
  right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
