@use "./shared.scss" as *;

.filter {
	position: sticky;
	top: 10px;
	align-self: flex-start;
	width: 285px;
	margin-right: 10px;
	.search {
		// margin: 16px 0;
		position: relative;
		input {
			padding: 5px 30px 5px 6px;
			border: 3px solid $grey3;
			// width: 240px;
			&:focus {
				outline: none;
				border-color: $focus;
			}
			+ button.clear-input {
				@extend %reset-button;
				position: absolute;
				right: 7px;
				top: 16px;
				font-size: 36px;
				cursor: pointer;
				line-height: 0;
				&:focus {
					outline: none;
				}
			}
		}

		.cancel-text {
			position: relative;
			&::before,
			&::after {
				content: "";
				background-color: #222;
				position: absolute;
				width: 3px;
				height: 20px;
				top: 6px;
				right: 17px;
				border-radius: 99px;
			}
			&::before {
				transform: rotate(45deg);
			}
			&::after {
				transform: rotate(-45deg);
			}
		}
	}

	.search-suggestions {
		// margin-top: 6px;
		font-size: 0.9em;
		.suggestion {
			// margin: 1px 0;
			border: 1px solid black;
			margin-top: -1px;
			&:first-child {
				margin-top: 0;
			}
			&:hover {
				box-shadow: 0 0 2px inset black;
			}
			cursor: pointer;
			width: 100%;
			// &:active {
				// border-style: inset;
			// }
			// border-radius: 3px;
			padding: 0 2px;
		}
	}

	.box-filters {
		font-size: 16px;
			margin: 4px 0;
		.type-indicator {
			width: fit-content;
			padding-right: 0;
			margin: 4px 0;
			display: flex;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			.remove {
				// background: #444;
				// color: white;
				border-top-right-radius: 99px;
				border-bottom-right-radius: 99px;
				padding-right: 2px;
				margin-left: 4px;
				.icon {
				vertical-align: text-bottom;
					// font-size: 24px;
				}
			}
		}
	}

	.checkbox-filters {
		height: 80vh; // TODO is this good enough? test different sizes
		overflow-y: auto;
		margin: 16px 0;
		line-height: 1.25;
		.check-buttons {
			margin-bottom: 6px;
		}
	}
}
