@use "./shared.scss" as *;

html,
body {
  height: 100%;
  color: #111;
}

body {
  margin: 0;
  font-family: $sans;
  // font-weight: $weight-regular;
  font-size: 18px;
  background-color: $background;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
}

*:focus {
  outline-color: $focus;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  width: $main-width;
  margin: 16px auto;
  @media (max-width: $width-xl) {
    width: 100%;
  }
}

header {
  background-color: $active4;
  color: white;
}

header {
  nav {
    width: $main-width;
    margin: 0 auto;
    @media (max-width: $width-xl) {
      width: 100%;
    }
    ul {
      margin: 0;
      padding: 0 30px;
      @media (max-width: $width-sm) {
        padding: 0 16px;
        display: flex;
        flex-wrap: wrap;
        li {
          flex-grow: 1;
        }
      }
      li {
        display: inline-block;
        a {
          display: block;
          text-align: center;
          padding: 16px 24px;
          color: white;
          &.active {
            background-color: $active5;
            pointer-events: none;
          }
        }
      }
    }
  }
}

a {
  color: rgb(45, 101, 206);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    //color: rgb(18, 61, 141);
  }
}

a.external {
  .icon {
    width: 1em;
  }
}

.error-box {
  background: rgb(233, 111, 111);
  border: 1px solid red;
  color: rgb(255, 234, 234);
  border-radius: 4px;
  padding: 4px 12px;
  margin: 12px 0;
}

.lds-dual-ring {
  //display: inline-block;
  width: 80px;
  height: 80px;
  margin: auto;
}
.lds-dual-ring:after {
  $color: #111;
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  //margin: 8px;
  border-radius: 50%;
  border: 6px solid $color;
  border-color: $color transparent $color transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-container {
  width: 100%;
}
.spinner-text {
  font-size: 1.3em;
  font-style: italic;
  text-align: center;
  // width: max-content;
  margin: 10px 0;
}
