@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

$sans: Nunito, sans-serif;
$weight-regular: 400;
$weight-bolder: 600;
$weight-bold: 700;

$game-primary: #d42b26;
$game-secondary: #fff7f6;

$tv-primary: #E37322;
$tv-secondary: #2F1300;
$tv-tertiary: #5B2600;
$tv-animated-primary: #F1904D;
$tv-animated-secondary: #3C1900;
$tv-micro-series-primary: #D67B4A;
$tv-micro-series-secondary: #1E0A00;


// $yr-primary: #9C27B0;
// $yr-secondary: #FADEFF;
// $yr-primary: #FF58C5;
// $yr-secondary: #41004D;
$yr-primary: #00C8E1;
$yr-secondary: #003840;
// $yr-primary: #d2d2d2;
// $yr-secondary: #202020;

$reference-book-primary: #00BCD4;
$reference-book-secondary: #fff;

$film-primary: #212121;
$film-secondary: #fff;

$book-primary: #3F51B5;
$book-secondary: #deefff;
$book-a-primary: #3F51B5;
// $book-a-secondary: #deefff;
$book-ya-primary: #616EB9;
$book-ya-secondary: white;
$book-jr-primary: #7899D9;
$book-jr-secondary: #031435;
$book-audio-primary: #8042bf;
$book-audio-secondary: #f9f3ff;

$comic-primary: #4CAF50;
$comic-secondary: #003102;

$short-story-primary: #FFEB3B;
$short-story-secondary: #403a01;

// OLD:
// $book-primary: #34a;
// $book-secondary: #def;
// $comic-primary: #86398d;
// $comic-secondary: rgb(251, 221, 255);
// $short-story-primary: #4ed0d7;
// $short-story-secondary: #135457;

$focus: #fb8500;
$background: #f3f3f3;
$background2: #e7e7e7;
// $comic-primary: #de3333;
// $comic-secondary: #fed;
$grey4: rgb(221, 221, 221);
$grey3: rgb(196, 196, 196);
$grey2: rgb(155, 155, 155);
$grey1: rgb(100, 100, 100);

%reset-button {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;

	background: transparent;

	/* inherit font & color from ancestor */
	color: inherit;
	font: inherit;

	/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
	line-height: normal;

	/* Corrects font smoothing for webkit */
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;

	/* Corrects inability to style clickable `input` types in iOS */
	-webkit-appearance: none;
}

%cell-fit-content {
	// TODO: this acts weird with lots of content in columns. test it
	width: 1px;
	white-space: nowrap;
	overflow: hidden;
}

.type-indicator {
	box-shadow: 0 0 5px -3px black;
	padding: 0 9px 0px 9px;
	border-radius: 999px;
	text-transform: capitalize;
	//font-weight: 600;
}

.show-button, .hide-button {
	@extend %reset-button;
	font-weight: $weight-bold;
	border: 2px outset black;
	font-size: 0.75em;
	padding: 1px 5px;
	margin-right: 8px;
	color: black;
	cursor: pointer;
	&:active {
		border-style: inset;
	}
}
.show-button {
	background-color: #86cc66;
}
.hide-button {
	background-color: #d55e5e;
}

.unreleased {
	background-color: #eacac0;
}

