@use "./shared.scss" as *;

.timeline-container {
	display: flex;
	margin: 0 12px;
}

table {
	//table-layout: fixed;
	width: 800px;
	margin: 0 auto;
	border-collapse: collapse;
}
td,
th,
.ReactVirtualized__Table__rowColumn,
.ReactVirtualized__Table__headerColumn {
	border: 1px solid black;
	$padding: 2px;
	padding: $padding $padding + 5px;
}

th,
.ReactVirtualized__Table__headerColumn {
	background-color: #444;
	color: white;
	text-transform: capitalize;
	cursor: pointer;

	.icon {
		padding-left: 4px;
		vertical-align: sub;
		color: #e6a34e;
	}

	width: auto;
	&.cover {
		width: 50px;
	}
	&.date {
		width: 80px;
	}
	&.writer {
		width: 140px;
	}
	&.releaseDate {
		// @extend %cell-fit-content;
		// width: 0px;
		width: min-content;
	}
}

tr.standard-row,
.ReactVirtualized__Table__rowColumn {
	    margin:-1px 0 0 -1px;
	td.title {
		font-weight: $weight-bold;
		font-size: 1em;
		cursor: pointer;
		button {
			@extend %reset-button;
			pointer-events: none;
			text-align: left;
		}
	}

	td.cover {
		img {
			max-width: 100%;
			display: block;
		}
	}

	td {
		font-size: 0.8em;
		ul {
			// list-style: disc;
			// padding-left: 15px;
			list-style: "・";
			padding-left: 13px;
			margin: 0;
			li:nth-child(n+2) {
				// border-top: 1px solid #777;
			}
		}
	}
}

tr.details-row {
	td {
		padding: 0;
	}
	.details {
		overflow: hidden;
		height: 0;
	}

	.cover {
		float: left;
		margin: 12px;
		box-shadow: 2px 2px 8px #000;
		//border: 1px solid #000;
		//box-sizing: border-box;
	}
	.text {
		// Left margin so that the content doesn't shift when the cover hasn't loaded
		// It's value is image width + image left margin + margin we want between image and text
		margin: 12px 0 12px 232px;
		font-size: 18px;
		.title {
			margin: 0 0 12px 0;
			line-height: 0.95;
			font-size: 36px;
		}
		dl {
			margin: 0;
			display: grid;
			grid-template-columns: max-content auto;
			column-gap: 12px;
			> div {
				// &:nth-child(even) {
				// 	background-color: $background2;
				// }
			}
			dt,
			dd {
				display: inline-block;
				//margin: 2px 0;
			}
			dt {
				font-weight: $weight-bold;
				text-align: left;
			}
			dd {
				border-bottom: 1px solid #bbb;
				margin-left: 0;
				max-height: 150px;
				//overflow-y: auto;
				ul {
					//list-style-type: none;
					padding: 0 20px;
				}
			}
			dd:nth-child(2), dd:last-child {
				border-bottom: none;
			}

			.note {
				font-size: 14px;
				color: #666;
				vertical-align: middle;
			}
		}
	}
}

.wookiee-link {
	img {
		margin-left: 0.3em;
		width: 1em;
		position: relative;
		top: 0.15em;
		transition: transform 0.1s;
	}
	&:hover img {
		//transform: scale(1.5);
	}
}
