@use "@/vars.scss" as *;

.alert {
  border-radius: 4px;
  padding: 0.5rem 1rem;
  width: fit-content;
  margin: 0.5rem 0;
  font-style: normal;
  font-size: 1rem;

  border-width: 1px;
  border-style: solid;

  &.slim {
    padding: 0.2rem 0.5rem;
  }

  &.error {
    @extend %error;
  }

  &.warning {
    @extend %warning;
  }

  &.info {
    @extend %info;
  }

  &.success {
    @extend %success;
  }
}
