@use "@/vars.scss" as *;

.season-episode {
  margin-right: 8px;
  position: relative;
  top: -2px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0 4px;
  background-color: $tv-tertiary;
  color: white;
  font-size: 0.75em;
  white-space: nowrap;
  overflow: hidden;
}
