.error-msg-container {
  color: #e13232;
  border: 1px solid #e13232;
  border-radius: 4px;
  padding: 4px 8px;
  background: #f3d8d8;
  width: fit-content;
  margin: 10px auto 0;
  font-style: normal;
  font-size: 1rem;
}
