@use "@/vars.scss" as *;

.button {
  position: relative;

  .fetching-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &.fetching {
    .content {
      visibility: hidden;
    }
  }
}
