@use "@/vars.scss" as *;

.container {
  // @extend %icon-text-container;
  // gap: 0.3333em;

  word-break: break-word;

  svg {
    display: inline-block;
    margin-right: 0.3333em;
    position: relative;
    bottom: 0.055555em;
  }
}
