@use "@/vars.scss" as *;

.cover-button {
  margin: 6px 14px 6px 6px;
  height: fit-content;
  position: relative;
  box-shadow: 2px 2px 8px #000;
  & > div {
    // Overwrite blurhash lib to remove whitespace
    display: block !important;
  }
  @media (max-width: $width-md) {
    margin: 6px auto 14px;
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
}

.cover-full {
  border: 4px ridge white;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  box-sizing: border-box;
}

.blur {
  position: absolute !important;
  z-index: -1;
}
