.cover {
  position: absolute;
  top: 0;
  left: 0;
}

.cover-full {
  border: 4px ridge white;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  box-sizing: border-box;
}

.blur {
  position: absolute !important;
  z-index: -1;
}
