@use "@/vars.scss" as *;

.wookiee-link {
  user-select: none;
  img {
    margin-left: 0.3em;
    width: 1em;
    position: relative;
    top: 0.15em;
    transition: transform 0.1s;
  }
  &:hover img {
    transform: scale(1.5);
  }
}
