@use "@/vars.scss" as *;
@use "@/global.scss" as *;

$mobile: $width-md;
$dropdown-padding: 1rem;

.settings-link {
  @extend %nav-link;
  margin: calc(-1 * $dropdown-padding / 2) (-$dropdown-padding);
  padding: calc($dropdown-padding / 2);
  // text-align: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;

  @media (max-width: $mobile) {
    padding: 0.75rem 1.5rem;
  }
}

.link-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header-container {
  background-color: $active4;
  color: white;

  @media (max-width: $mobile) {
    width: 100%;
    box-sizing: border-box;
    // position: fixed;
    // top: 0;
    // z-index: 15;
    // margin-bottom: 66px;
  }
}

.desktop-header {
  @media (max-width: $mobile) {
    display: none;
    // width: 100%;
  }

  max-width: $main-width;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.mobile-header {
  display: none;
  border-bottom: 1px solid $active6;

  @media (max-width: $mobile) {
    display: block;
  }

  .base-bar {
    display: flex;
    align-items: center;
  }

  .content {
    padding-bottom: 0.5rem;
  }

  .username {
    display: inline-block;
    padding: 0.5rem;

    @media (max-width: $mobile) {
      padding: 0.75rem;
    }
  }

  .hamburger {
    // display: inline-block;
    float: right;
    margin: 0.5rem 1rem 0.5rem auto;
  }

  .logout-btn {
    padding: 0.5rem 1rem;
    margin: auto;

    @media (max-width: $mobile) {
      margin-top: 0.25rem;
    }
  }

  .user-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
  }

  .login-dialog {
    padding: 1rem;

    @media (max-width: $mobile) {
      display: inline-block;
      padding: 0 1rem;
    }
  }

  .timeline-link {
    font-weight: $weight-bold;
    color: white;
  }
}

.icon {
  vertical-align: middle;
}

.nav-list,
.right {
  padding: 0 2rem;
  display: flex;
  align-items: center;
}

.nav-list {
  margin: 0;

  @media (max-width: $mobile) {
    padding: 0;
    display: block;
  }
}

.nav-link {
  @extend %nav-link;
  display: block;
  text-align: center;
  padding: 1rem 1.5rem;

  @media (max-width: $mobile) {
    padding: 0.75rem 1.5rem;
  }
}

.hamburger-icon {
  @extend .icon;
  display: block;
}

.dropdown-trigger {
  padding: 0 1.5rem;

  .arrow-icon {
    @extend .icon;
    transition: transform 0.1s;
  }

  &[data-state="open"] {
    .arrow-icon {
      transform: rotate(180deg);
    }
  }
}

.user-dropdown {
  @media (max-width: $mobile) {
    display: none;
  }

  min-width: 150px;
  z-index: 100;
  background-color: $active4;
  color: white;
  position: relative;
  top: 10px;
  padding: $dropdown-padding;

  .arrow {
    fill: $active4;
  }

  button {
    font-size: inherit;
    width: 100%;
    border: none;
    padding: 0.25rem 0.5rem;

    &:hover {
      box-shadow: $hover-shadow-inv;
    }
  }
}

.separator {
  height: 1px;
  background-color: $active5;
  margin: 1rem 0;

  @media (max-width: $mobile) {
    margin: 0.5rem 0;
  }
}

.logged-in-text {
  font-size: 0.8rem;
  display: block;
}

.version {
  font-size: 0.7rem;
}

button.trigger {
  font-size: inherit;
  padding: 6px 16px;
}
