@use "@/vars.scss" as *;

.overlay {
  &[data-state="open"] {
    animation: overlayShow 0.2s ease-out;
  }
  &[data-state="closed"] {
    animation: overlayHide 0.2s ease-out;
  }
  animation: overlayShow 0.2s ease-out;
  background-color: hsla(0, 0%, 0%, 0.439);
  position: fixed;
  inset: 0;
  z-index: 90;
}

.content {
  &[data-state="open"] {
    animation: contentShow 0.2s ease-out;
  }
  &[data-state="closed"] {
    animation: contentHide 0.2s ease-out;
  }
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 85vh;
  width: 90vw;
  max-width: 450px;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  background-color: #ffffff;
  padding: 2rem;
  box-shadow:
    0px 10px 38px -10px hsla(206, 22%, 7%, 0.35),
    0px 10px 20px -15px hsla(206, 22%, 7%, 0.2);
  z-index: 100;
  &:focus {
    outline: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.close {
  // position: absolute;
  // top: 20px;
  // right: 20px;
  cursor: pointer;
  &:hover {
    color: $active1;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
  label {
    width: 100%;
  }
  .label-text {
    color: $grey1;
    font-size: 0.9rem;
  }
  .input {
    font-size: 1rem;
    padding: 8px 12px;
  }
  .submit {
    font-size: 1.25rem;
    width: 100%;
    padding: 0.5rem;
    background-color: $active1;
    border-color: black;
  }
}

.forgot {
  @extend %link;
  font-size: 0.8rem;
  text-align: right;
  margin-left: auto;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes overlayHide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes contentHide {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
