@use "@/vars.scss" as *;

.shell {
  flex: 1 0 auto;
  width: $main-width;
  margin: 1rem auto;

  @media (max-width: $width-xl) {
    width: calc(100% - 1rem);
    margin: 1rem 0.5rem;

    &.no-margin {
      width: 100%;
      margin: 1rem 0;
    }
  }
}
